pkgbase = subfinder
	pkgdesc = A subdomain discovery tool that discovers valid subdomains for websites
	pkgver = 2.6.6
	pkgrel = 1
	url = https://github.com/projectdiscovery/subfinder
	arch = x86_64
	arch = armv6h
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	source = subfinder-2.6.6.tar.gz::https://github.com/projectdiscovery/subfinder/archive/v2.6.6.tar.gz
	b2sums = 2e9b66e339f95ca015e3f1bd489a20561846a1a9170350c7ee433d5edbebe68f563a5223f1b88892aef52ac974fb74832041797f00706db386fc876d91e669da

pkgname = subfinder
