pkgbase = python-largestinteriorrectangle
	pkgdesc = Largest Interior/Inscribed Rectangle implementation in Python
	pkgver = 0.2.1
	pkgrel = 2
	url = https://github.com/OpenStitching/lir
	arch = any
	license = Apache-2.0
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-opencv
	depends = python-numba
	depends = python-numpy
	source = python-largestinteriorrectangle-0.2.1.tar.gz::https://github.com/OpenStitching/lir/archive/v0.2.1.tar.gz
	sha256sums = 72b27714d017a970f3a8da8a5796bde14bdeb354721e5400fbe1260abb9bbe07

pkgname = python-largestinteriorrectangle
