pkgbase = turbocase
	pkgdesc = Generate an OpenSCAD case template from a KiCAD PCB
	pkgver = 1.8.0
	pkgrel = 2
	url = https://git.sr.ht/~martijnbraam/turbocase
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-sexpdata
	source = turbocase-1.8.0.tar.gz::https://git.sr.ht/~martijnbraam/turbocase/archive/1.8.0.tar.gz
	sha256sums = e2656a4708d54842e8aa1f151a163eabae30b3d524bd824c29f3d2fd1b53c745

pkgname = turbocase
