pkgbase = turbocase
	pkgdesc = Generate an OpenSCAD case template from a KiCAD PCB
	pkgver = 1.5.0
	pkgrel = 1
	url = https://git.sr.ht/~martijnbraam/turbocase
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-sexpdata
	source = turbocase-1.5.0.tar.gz::https://git.sr.ht/~martijnbraam/turbocase/archive/1.5.0.tar.gz
	sha256sums = 3469bbf33920423b113dbc66673470a8330e77507ba094590e7475f023a54f67

pkgname = turbocase
