pkgbase = turbocase
	pkgdesc = Generate an OpenSCAD case template from a KiCAD PCB
	pkgver = 1.7.1
	pkgrel = 1
	url = https://git.sr.ht/~martijnbraam/turbocase
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-sexpdata
	source = turbocase-1.7.1.tar.gz::https://git.sr.ht/~martijnbraam/turbocase/archive/1.7.1.tar.gz
	sha256sums = c13dfa1714d4fae9b7c652161c289abcae2b6b7c060d07e914ad5284c245c4be

pkgname = turbocase
