pkgbase = subfinder
	pkgdesc = A subdomain discovery tool that discovers valid subdomains for websites
	pkgver = 2.6.8
	pkgrel = 1
	url = https://github.com/projectdiscovery/subfinder
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	source = subfinder-2.6.8.tar.gz::https://github.com/projectdiscovery/subfinder/archive/v2.6.8.tar.gz
	b2sums = 429ba8ac7b677ea027cbf274e3d0ddac70aebaaf27f1a62bd78de56bb996ac2a4ec8fd5caaddaef496c2abb7f9c896d4da1a753b7640d7a8ddd975ac345123bc

pkgname = subfinder
