pkgbase = subfinder
	pkgdesc = A subdomain discovery tool that discovers valid subdomains for websites
	pkgver = 2.7.0
	pkgrel = 1
	url = https://github.com/projectdiscovery/subfinder
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	source = subfinder-2.7.0.tar.gz::https://github.com/projectdiscovery/subfinder/archive/v2.7.0.tar.gz
	b2sums = d54ed82f45e6f16a24150b0c625885a3e50fe358e614ea6ed6b93bd0928afe6ba608170260fe6a78baeba4966adbb2ecbfc3445bc677c89d842a3b66a37af395

pkgname = subfinder
