pkgbase = nuclei-templates
	pkgdesc = Templates for the nuclei engine to find security vulnerabilities
	pkgver = 10.1.3
	pkgrel = 1
	url = https://github.com/projectdiscovery/nuclei-templates
	arch = any
	license = MIT
	options = !strip
	source = nuclei-templates-10.1.3.tar.gz::https://github.com/projectdiscovery/nuclei-templates/archive/v10.1.3.tar.gz
	sha256sums = 73ab4c2a95eacc24686d6489ccf83e15d60b13609035dfe5975727d0999d9387

pkgname = nuclei-templates
