pkgbase = nuclei-templates
	pkgdesc = Templates for the nuclei engine to find security vulnerabilities
	pkgver = 10.0.3
	pkgrel = 1
	url = https://github.com/projectdiscovery/nuclei-templates
	arch = any
	license = MIT
	options = !strip
	source = nuclei-templates-10.0.3.tar.gz::https://github.com/projectdiscovery/nuclei-templates/archive/v10.0.3.tar.gz
	sha256sums = 51762873c20da63a0ba30a300f418cf303c03a1b180d62f4643a6f30cd88371f

pkgname = nuclei-templates
