pkgbase = python-yarg
	pkgdesc = A semi hard Cornish cheese, also queries PyPI (PyPI client)
	pkgver = 0.1.10
	pkgrel = 2
	url = https://github.com/kura/yarg
	arch = any
	license = MIT
	checkdepends = python-nose
	makedepends = python-build
	makedepends = python-wheel
	makedepends = python-installer
	depends = python
	depends = python-requests
	source = python-yarg-0.1.10.tar.gz::https://github.com/kura/yarg/archive/0.1.10.tar.gz
	sha512sums = a38f8526e6cf79238edfc69a578737fbd6bea4a6aca8a4f265d2f56023a960f409a97aed9ed5b2b5c272c716fb5e1a4c4dc6fa03ee2d39dfb4762c02b0edb0ec

pkgname = python-yarg
