pkgbase = meanalyzer
	pkgdesc = Intel Engine & Graphics Firmware Analysis Tool
	pkgver = 1.307.0.r359
	pkgrel = 1
	url = https://github.com/platomav/MEAnalyzer
	arch = any
	license = BSD-2-Clause-Patent
	makedepends = dos2unix
	depends = python
	depends = python-colorama
	depends = python-crccheck
	depends = python-pltable
	conflicts = meanalyzer-git
	source = meanalyzer-1.307.0.r359.tar.gz::https://github.com/platomav/MEAnalyzer/archive/r359.tar.gz
	sha256sums = 2dd629f308237c6c18dc9e2ac87b822b47c779fa8ba69012da1a3aa0bd9e7876

pkgname = meanalyzer
