pkgbase = meanalyzer
	pkgdesc = Intel Engine & Graphics Firmware Analysis Tool
	pkgver = 1.307.0.r358
	pkgrel = 1
	url = https://github.com/platomav/MEAnalyzer
	arch = any
	license = BSD-2-Clause-Patent
	makedepends = dos2unix
	depends = python
	depends = python-colorama
	depends = python-crccheck
	depends = python-pltable
	conflicts = meanalyzer-git
	source = meanalyzer-1.307.0.r358.tar.gz::https://github.com/platomav/MEAnalyzer/archive/r358.tar.gz
	sha256sums = 18cde9a2b595c370c66033835522c92d1572ff188a7eb3d84fc75a08513beb71

pkgname = meanalyzer
