pkgbase = meanalyzer
	pkgdesc = Intel Engine & Graphics Firmware Analysis Tool
	pkgver = 1.307.0.r361
	pkgrel = 1
	url = https://github.com/platomav/MEAnalyzer
	arch = any
	license = BSD-2-Clause-Patent
	makedepends = dos2unix
	depends = python
	depends = python-colorama
	depends = python-crccheck
	depends = python-pltable
	conflicts = meanalyzer-git
	source = meanalyzer-1.307.0.r361.tar.gz::https://github.com/platomav/MEAnalyzer/archive/r361.tar.gz
	sha256sums = 4b183af885f79d7a3d21dc085438140bbf7c35b7167d5556bf6893b0d0d34b18

pkgname = meanalyzer
