pkgbase = nuclei
	pkgdesc = Fast tool for configurable targeted scanning based on templates offering massive extensibility and ease of use
	pkgver = 3.3.9
	pkgrel = 1
	url = https://github.com/projectdiscovery/nuclei
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	source = nuclei-3.3.9.tar.gz::https://github.com/projectdiscovery/nuclei/archive/v3.3.9.tar.gz
	b2sums = 9c29a3480a6235e8e59cd9836a775215723d53010f647feed081591817062c3cc468ac6b88896d6b9ed7c0f9b4856d7d7cd533e426bb8cdae30b8825e66cf182

pkgname = nuclei
