pkgbase = nuclei
	pkgdesc = Fast tool for configurable targeted scanning based on templates offering massive extensibility and ease of use
	pkgver = 3.3.8
	pkgrel = 1
	url = https://github.com/projectdiscovery/nuclei
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	source = nuclei-3.3.8.tar.gz::https://github.com/projectdiscovery/nuclei/archive/v3.3.8.tar.gz
	b2sums = 99a9e8d9251d23ca81da94815e2de572b9450bff70a2bfecc15394225e15535b65d3759a2425ec624854431cc4f0ba43bbeafe52b0b65887910ae4021bd95f4e

pkgname = nuclei
