pkgbase = python-sexpdata
	pkgdesc = S-expression parser for Python
	pkgver = 1.0.2
	pkgrel = 2
	url = https://github.com/jd-boyd/sexpdata
	arch = any
	license = BSD-2-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	source = python-sexpdata-1.0.2.tar.gz::https://github.com/jd-boyd/sexpdata/archive/v1.0.2.tar.gz
	sha256sums = a36c99143e778718b33d06db46d8f842736296f44358504c48fc8732663943a8

pkgname = python-sexpdata
