pkgbase = python-lzf
	pkgdesc = C Extension for liblzf
	pkgver = 0.2.5
	pkgrel = 2
	url = https://github.com/teepark/python-lzf
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = BSD-3-Clause
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = glibc
	source = python-lzf-0.2.5.tar.gz::https://github.com/teepark/python-lzf/archive/refs/tags/release-0.2.5.tar.gz
	sha256sums = 114c694969046a4f77f68571d88ff86235d3161670178547e89b183e6e7d50ce

pkgname = python-lzf
