pkgbase = iptv-checker
	pkgdesc = Node.js CLI tool for checking links in IPTV playlists
	pkgver = 0.29.1
	pkgrel = 1
	url = https://github.com/freearhey/iptv-checker
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	depends = ffmpeg
	noextract = iptv-checker-0.29.1.tgz
	source = https://registry.npmjs.org/iptv-checker/-/iptv-checker-0.29.1.tgz
	sha256sums = 16238b7670c1f054da132e93f26cabb9de12276253376759b34e7ad8ef92efde

pkgname = iptv-checker
