pkgbase = bbg
	pkgdesc = A static blog generator built with electron
	pkgver = 20250204
	pkgrel = 1
	url = https://github.com/bbg-contributors/bbg
	arch = any
	license = Unlicense
	depends = electron
	conflicts = bbg-git
	source = icon.png::https://github.com/bbg-contributors/bbg-resources/raw/753cf6fef826616425d32d51fa64541869fcf12c/icon.png
	source = app-20250204.asar::https://github.com/bbg-contributors/bbg/releases/download/20250204/app.asar
	sha256sums = f25a9595d339f61193a7e79c08c5f56014fa487a6ddee271d0785bb1cae2155f
	sha256sums = 8416276071436b023d1ebf373bcdea770f38662612bb6b5bf8a5175a41153177

pkgname = bbg
