pkgbase = easyeda-bin
	pkgdesc = A Simple and Powerful Electronic Circuit Design Tool
	pkgver = 6.5.44
	pkgrel = 1
	url = https://easyeda.com/
	arch = x86_64
	license = LicenseRef-EasyEDA-Proprietary
	depends = gtk3
	depends = nss
	depends = libxss
	depends = alsa-lib
	provides = easyeda
	conflicts = easyeda
	source = easyeda-6.5.44.zip::https://image.easyeda.com/files/easyeda-linux-x64-6.5.44.zip
	source = LICENSE-6.5.44.html::https://easyeda.com/page/legal
	sha256sums = 747398bc3bf0dd18b8c914d96b15d5d280d215eacaf9738fd4544e9b411df664
	sha256sums = SKIP

pkgname = easyeda-bin
