pkgbase = easyeda-pro-bin
	pkgdesc = EasyEDA Professional Edition
	pkgver = 2.1.64
	pkgrel = 2
	url = https://pro.easyeda.com/
	install = easyeda-pro-bin.install
	arch = x86_64
	arch = aarch64
	license = LicenseRef-EasyEDA-Proprietary
	depends = gtk3
	depends = nss
	depends = alsa-lib
	provides = easyeda-pro
	conflicts = easyeda-pro
	conflicts = easyeda-pro-git
	conflicts = easyeda-pro-electron
	source = LICENSE-2.1.64.html::https://easyeda.com/page/legal
	source = easyeda-pro-bin.install
	sha256sums = SKIP
	sha256sums = ab64abe7821e4ea37a0e4d1f77c94f37d6a51c7df2038ba7b609c640adf8e51d
	source_x86_64 = easyeda-pro-x86_64-2.1.64.zip::https://image.easyeda.com/files/easyeda-pro-linux-x64-2.1.64.zip
	sha256sums_x86_64 = 92517f826e7c30065b65c2cb7888672345d012835e995b41ffc9b91bd24b4884
	source_aarch64 = easyeda-pro-aarch64-2.1.64.zip::https://image.easyeda.com/files/easyeda-pro-linux-arm64-2.1.64.zip
	sha256sums_aarch64 = b8661d8fb84055c12a29171e2af74843b60e9d4b5e5f5a0f3961910d422fb881

pkgname = easyeda-pro-bin
