pkgbase = python-stitching
	pkgdesc = A Python package for fast and robust Image Stitching
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/OpenStitching/stitching
	arch = any
	license = Apache-2.0
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-opencv>=4.0.1
	depends = python-largestinteriorrectangle
	depends = python-numpy
	provides = stitch
	source = python-stitching-0.6.0.tar.gz::https://github.com/OpenStitching/stitching/archive/v0.6.0.tar.gz
	sha256sums = 36f6ee7ea6883143d88c259977feddbf0c9a9c6ad881cd96120776dd1d096671

pkgname = python-stitching
