pkgbase = python-toml-sort
	pkgdesc = Toml sorting library
	pkgver = 0.24.1
	pkgrel = 1
	url = https://github.com/pappasam/toml-sort
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry
	depends = python
	depends = python-tomlkit
	depends = python-importlib-metadata
	source = python-toml-sort-0.24.1.tar.gz::https://github.com/pappasam/toml-sort/archive/v0.24.1.tar.gz
	sha256sums = f78dc3a1c9c88d9b347d68b615abc9c3985c32ba63e7eed2afe90116630b4ace

pkgname = python-toml-sort
