pkgbase = python-toml-sort
	pkgdesc = Toml sorting library
	pkgver = 0.24.2
	pkgrel = 2
	url = https://github.com/pappasam/toml-sort
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry
	depends = python
	depends = python-tomlkit
	depends = python-importlib-metadata
	source = python-toml-sort-0.24.2.tar.gz::https://github.com/pappasam/toml-sort/archive/v0.24.2.tar.gz
	sha256sums = d3020670057aef0c79226352c42df6a0f666e3266816e994f2f5d79e40dcae25

pkgname = python-toml-sort
