pkgbase = python-toml-sort
	pkgdesc = Toml sorting library
	pkgver = 0.24.0
	pkgrel = 1
	url = https://github.com/pappasam/toml-sort
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry
	depends = python
	depends = python-tomlkit
	depends = python-importlib-metadata
	source = python-toml-sort-0.24.0.tar.gz::https://github.com/pappasam/toml-sort/archive/v0.24.0.tar.gz
	sha256sums = 7386e4dc8a1a674d0fab907abf5f02961702c3aefe8c0ae18ad2eb5c6cebd479

pkgname = python-toml-sort
