pkgbase = fscan
	pkgdesc = An intranet comprehensive scanning tool
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/shadow1ng/fscan
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	source = fscan-2.0.0.tar.gz::https://github.com/shadow1ng/fscan/archive/2.0.0.tar.gz
	sha256sums = 8fcd4f8a3e8457e2b6a0c9293f7abc92f1a71771012ed97403cd719b63fe5845

pkgname = fscan
