pkgbase = lceda-pro-bin
	pkgdesc = 免费、专业、强大的国产PCB设计工具
	pkgver = 2.2.26.6
	pkgrel = 1
	url = https://pro.lceda.cn/
	install = lceda-pro-bin.install
	arch = x86_64
	arch = aarch64
	license = LicenseRef-LCEDA-Proprietary
	depends = gtk3
	depends = nss
	depends = alsa-lib
	provides = lceda-pro
	conflicts = lceda-pro
	conflicts = lceda-pro-git
	source = LICENSE-2.2.26.6.html::https://lceda.cn/page/legal
	source = lceda-pro-bin.install
	sha256sums = SKIP
	sha256sums = afba3c6712227a37c08783b3cc1a97ae71e90dc2f575409213d2773372220697
	source_x86_64 = lceda-pro-x86_64-2.2.26.6.zip::https://image.lceda.cn/files/lceda-pro-linux-x64-2.2.26.6.zip
	sha256sums_x86_64 = ff524818d21e931a04b79c95f69c6e298b5b79e72f95c39f4f67e26f4607cd4c
	source_aarch64 = lceda-pro-aarch64-2.2.26.6.zip::https://image.lceda.cn/files/lceda-pro-linux-arm64-2.2.26.6.zip
	sha256sums_aarch64 = 5c3b9228574433af8cd52adce1912aca4326249d0e8d5762862c7008257d6a4a

pkgname = lceda-pro-bin
