pkgbase = lceda-pro-bin
	pkgdesc = 免费、专业、强大的国产PCB设计工具
	pkgver = 2.1.59
	pkgrel = 1
	url = https://pro.lceda.cn/
	install = lceda-pro-bin.install
	arch = x86_64
	arch = aarch64
	arch = loong64
	license = LicenseRef-LCEDA-Proprietary
	depends = gtk3
	depends = nss
	depends = alsa-lib
	provides = lceda-pro
	conflicts = lceda-pro
	conflicts = lceda-pro-git
	source = LICENSE-2.1.59.html::https://lceda.cn/page/legal
	source = lceda-pro-bin.install
	sha256sums = SKIP
	sha256sums = afba3c6712227a37c08783b3cc1a97ae71e90dc2f575409213d2773372220697
	source_x86_64 = lceda-pro-x86_64-2.1.59.zip::https://image.lceda.cn/files/lceda-pro-linux-x64-2.1.59.zip
	sha256sums_x86_64 = 11eb63e2f02fa97058e07fcf85b9040a952b1a353bd3e7e5d0dab0db59c88abb
	source_aarch64 = lceda-pro-aarch64-2.1.59.zip::https://image.lceda.cn/files/lceda-pro-linux-arm64-2.1.59.zip
	sha256sums_aarch64 = 469927975546c2ac3dc3652c323151a46649c320ec0a878cdec69a4e3d25c90a
	source_loong64 = lceda-pro-loong64-2.1.59.zip::https://image.lceda.cn/files/lceda-pro-linux-loong64-2.1.59.zip
	sha256sums_loong64 = 37532002df909e6facb302ccd700623a2e0cfe03cadeee51dd2565a0858cce61

pkgname = lceda-pro-bin
